
html {
	min-height: 100%
	width: 100%;
	height: 100%;
}

body {
	min-height: 100%;
	width: 100%;
	background-image: url('http://nationalparksftw.weebly.com/uploads/2/4/6/7/24675926/693580_orig.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	/*background-position: bottom 10%;*/
	/*background-position: center;*/


}

.page-header {
	background-color: grey;
	margin: 0;
	padding: 0;
}

.page-header p {
	font-size: 30px;
}


.container {
	padding: 0;
	margin: 0;
	height: auto;
	width: 100%;
}

 .row {
 	margin-top: 2%;
 	height: 20%;
 	width: 100%;
 }

.survey {
	/*background-image: url('states.jpeg');*/
	background-color: #77b5fe;
	height: 100%;
	font-size: 20px;
	color: black;
	border: red 2px solid;
}

.formQuestion {
	padding-bottom: 2%;
}

#formSubmit, #startQuiz {
	margin: 4% 4%;
	color: black;
	font-weight: bold;
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/3b/1a/1f/3b1a1f00dd07c8ecb7f6f28c64a0613e.gif');
	background-position: center;
	width: 200px;
	text-decoration: underline;

}

.divider {
	padding: 0 2%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#friendsImg {
	width: 60%;
	height: auto;
}